@import '../_variables';

.repeat-dues {

    display: flex;

    justify-content: center;


    .board-wrap {
        flex: 1;
        aspect-ratio: 1;
        max-width: 80vh;

        cg-board {
          border-radius: 10px;
        }
    }

    .info {

      button {
        user-select: none;
        cursor: pointer;
        padding: 0.4em;
        font-size: 1.1em;
        border: none;
        background: $text;
        color: $text-dark;
      }
    }
}