@use 'base_css/theme';
@use 'base_css/media';

.on-repertoires {
    .repertoires {

        .categories {

            margin-top: 1em;
            display: flex;
            flex-flow: row wrap;
            gap: 2em;

        .category {
            flex: 1 1 45%;
            text-align: center;


            @include media.mq-is-col1 {
                flex: 1 1 100%;
            }
        }

        ul {
           border-radius: 4px;
           border: 1px solid theme.$ac-li-orange;
           color: black;
           height: 200px;
           overflow: auto;


           li {

           cursor: pointer;
           user-select: none;
            padding: 1em 0;

            &.soon {
                opacity: 0.6;
            }

            h3 {
                font-weight: 400;
            }

            a {
                &:hover {
                    color: theme.$text-primary;
                }
            }

            &:hover {
                background: theme.$ac-li-orange;
            }
           }
        }
    }
    }
}