@use '../../base_css/theme';
@use '../../base_css/media';


.on-repetition {
    .repetition {

        display: grid;
        grid-template-areas: 'studies sections info';
        grid-template-columns: 2fr 2fr 3fr;
        grid-template-rows: 66vh;

        background: theme.$ac-li-blue2;
        border-radius: 6px;

        .studies-list {
            grid-area: studies;
        }
        .sections-list-multiple {
            grid-area: sections;
        }
        .repeat-info {
            grid-area: info;
        }

        .repeat-info {
            display: flex;
            flex-flow: column;

            .header {
                display: flex;
                justify-content: space-between;

                h4 {
                    padding: 0.5em;

                    .number {
                        color: theme.$deep-blue;
                    }
                }

                border-bottom: 2px solid theme.$ac-li-blue;

            }

            .no-selected-sections {
                padding: 1em;
            }

            .content {
                flex: 1;
                display: flex;
                flex-flow: column;

                h4 {
                    padding: 0.5em;
                    align-self: center;
                    font-weight: 400;
                }

                .filler {
                    flex: 1;
                }

                .dues {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    button:first-child {
                        grid-column: 1/3;
                    }

                    button {
                        display: flex;
                        padding: 1em;
                        border: none;
                        color: theme.$text-light2;
                        background: theme.$he2;
                        user-select: none;
                        cursor: pointer;

                        border: 1px solid theme.$ac-li-blue-2;
                        transition: .1s;

                        &:hover {
                            background: theme.$ac-li-purple2;
                            color: theme.$text-primary;
                        }
                        
                        &:active span:first-child {
                            text-decoration: underline;
                        }

                        justify-content: space-between;

                        .due {
                            transition: inherit;
                            border-bottom: 2px solid theme.$text-light;
                        }

                        &:hover .due {
                            border-bottom: 2px solid theme.$text-primary;
                        }
                    }
                }
            }
        }

        .studies-list,
        .sections-list-multiple {
            display: flex;
            flex-flow: column;
            border-right: 2px solid theme.$ac-li-blue;

            .header {
                display: flex;
                border-bottom: 2px solid theme.$ac-li-blue;
                    h3 {
                        align-self: center;
                        padding: 0.5em;
                        font-weight: 500;
                    }
                }

            .list {
                overflow-y: auto;
                
                .section,
                .study {
                    user-select: none;
                    cursor: pointer;
                    padding: 0.5em;
                    border-radius: 2px;

                    &:hover {
                       background: theme.$ac-li-blue-2;
                    }
                    
                    &.active,&.selected {
                        background: theme.$bu-mu-blue;
                    }
                }
            }
        }
    }
}