
$good: rgb(105, 196, 95);
$inaccuracy: rgb(90, 177, 194);
$mistake: rgb(206, 175, 64);
$blunder: rgb(196, 87, 75);

$bg: rgb(63, 61, 56);
$bg-hi: rgb(104, 98, 88);
$color: rgb(232, 232, 232);
$blue: rgb(159, 172, 225);
$blue-light: rgb(176, 187, 230);

.replay-single {

    display: flex;
    flex-flow: column;
    position: relative;

    background: $bg;
    color: $color;

    max-height: 360px;

    .sharpness {
        display: flex;
        gap: 0.2em;
        align-self: center;


        .word {
            display: flex;
            gap: 0.2em;
            &:before {
                align-self: center;
                content: '';
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: green;
                border: 1px solid black;
            }
            font-weight: bold;
            small {
                align-self: center;
            }


            &.safe:before {
                background: green;
            }

            &.playable:before {
                background: yellow;
            }

            &.sharp:before {
                background: orange;
            }

            &.critical:before {
                background: red;
            }
        }
    }

    .moves {
        font-family: 'Noto Chess', 'Kantumruy';
        user-select: none;
        display: flex;
        flex-flow: row wrap;
        -webkit-font-smoothing: antialiased;
        overflow-y: auto;


        .index {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 10%;
            background: $bg-hi;
        }

        .move,
        .index {
            line-height: 1.7;
            font-size: 1.1em;
        }

        .move {
            padding: 0.16em;
            padding-left: 0.5em;
            flex: 0 0 45%;
            cursor: pointer;

            &:hover,
            &.active:hover {
                background: $blue-light;
                color: $bg;
            }

            &.active {
                background: $blue;
                color: $bg;
            }
            
            transition: all 0.1s;
        }

        .move {
            display: flex;
            justify-content: space-between;
            .eval {
                margin-left: -1em;
                margin-right: 0.5em;
                font-size: 0.9em;
            }

            &.good {
                color: $good;
            }

            &.inaccuracy {
                color: $inaccuracy;
            }
            &.mistake {
                color: $mistake;
            }
            &.blunder {
                color: $blunder;
            }

            &.active, &:hover {
                color: $bg;
            }

            &.loading {
                opacity: 0.6;
            }
        }
    }
}