$white-bg: #fff7cf;
$white-bg2: #ebf7ce;

$ac-li-orange: #ffb668;
$ac-li-orange2: #ffa53f;
$ac-li-orange3: #fe8d01;
$ac-li-orange-2: #ffc78f;
$ac-li-orange-3: #ffd8b2;


$ac-li-purple: #cfcfff;
$ac-li-purple2: #bac3ff;
$ac-li-purple-2: #c7e0ff;

$ac-li-blue: #c7e9ff;
$ac-li-blue2: #badcff;
$ac-li-blue-2: #d5ebf8;




$text-primary: #333;
$text-secondary: #666;
$text-title: #111;
$text-light: #eee;

$text-secondary-2: #888;

$twitch: #6441a5;

$error: #ee4266;
$success: #58d092;