@use 'variables';

$scrollbar-width: 20px;

$col3-uniboard-side-min: 250px;
$col3-uniboard-table-min: 240px;
$col3-uniboard-side: minmax(#{$col3-uniboard-side-min}, 350px);
$col3-uniboard-table: minmax(#{$col3-uniboard-table-min}, 400px);
$col3-uniboard-controls: 3rem;
$col3-min-bottom-margin: 1rem;

$col3-uniboard-max-width: calc(100vw - #{$col3-uniboard-side-min} - #{variables.$block-gap} - #{$col3-uniboard-table-min} - 2 * var(--main-margin, 0px) - #{$scrollbar-width});
$col3-uniboard-max-height: calc(100vh - #{variables.$site-header-outer-height} - #{$col3-min-bottom-margin});
$col3-uniboard-max-size: min(#{$col3-uniboard-max-width}, #{$col3-uniboard-max-height});
$col3-uniboard-width: calc(#{$col3-uniboard-max-size} * var(--board-scale));

$col2-uniboard-table: $col3-uniboard-table;
$col2-uniboard-controls: $col3-uniboard-controls;

$col2-uniboard-max-width: calc(
    100vw - #{variables.$block-gap} - #{$col3-uniboard-table-min} - 2 * var(--main-margin, 0px) - #{$scrollbar-width});

$col2-uniboard-max-height: $col3-uniboard-max-height;
$col2-uniboard-max-size: min(#{$col2-uniboard-max-width}, #{$col2-uniboard-max-height});
$col2-uniboard-width: calc(#{$col2-uniboard-max-size} * var(--board-scale));


$col2-uniboard-squeeze-table: minmax(200px, 240px);
$col2-uniboard-squeeze-width: minmax(
    calc(55vmin),
    calc(100vh - #{variables.$site-header-outer-height} - #{variables.$block-gap})
);

$col1-uniboard-controls: 5rem;