$primary: #64240c;
$secondary: #994d1c;
$accent: #e48f45;
$error: #ee4266;
$success: #72dcbb;
$text: #d8e2e6;

$gold: #6441a5;

$secondary-dim: #8a4517;
$secondary-light: #aa5c28;

$primary-light: #64240c;

$text-light: #f5fbfd;

$accent-light: #ffd7b5;

$dark-text: #101012;