@use 'base_css/variables';
@use 'base_css/media';
@use 'base_css/theme';
@use 'base_css/uniboard';

body {
    --site-header-height: #{variables.$site-header-short-height};
    --site-header-margin: 0px;

    --main-margin: 0px;
    --block-gap: 10px;


    --board-scale: 1;

    --col2-uniboard-width: #{uniboard.$col2-uniboard-width};
    --col3-uniboard-width: #{uniboard.$col3-uniboard-width};

    @include media.mq-site-header-tall {
        --site-header-height: #{variables.$site-header-tall-height};
    }

    @media(min-width: media.at-least(variables.$small)) {
        --main-margin: 1vw;
        --block-gap: 15px;
        margin-bottom: variables.$block-gap;
    }

}

.main-wrap {
    display: grid;
    grid-template-areas: '. . main . .';
    grid-template-columns: variables.$main-margin 1fr minmax(auto, var(--main-max-width)) 1fr variables.$main-margin;
    
    --main-max-width: #{variables.$main-max-width};
    margin-top: variables.$site-header-margin;
   
   main {
     grid-area: main;
   }

}


#top {
    height: var(--site-header-height);
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1800px;
    margin: 0 auto;
    user-select: none;

    background: theme.$nav;

    box-shadow: 0px 1px 3px theme.$text-primary;
    margin-bottom: 10px;
}


.site-title-nav {
    display: flex;
    justify-content: flex-start;
}


.topnav-toggle {
  @media (max-width: 979.3px) {

    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

.fullscreen-mask {
    display: none;
}

.fullscreen-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 109;


   .fullscreen-toggle:checked~& {
      display: block;
   }
}


.hbg {
    @media(max-width: 979.3px) {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--site-header-height);
        height: var(--site-header-height);
        cursor: pointer;
        z-index: 110;


        .topnav-toggle:checked~& {
            position: fixed;
            background: theme.$white-bg2;
        }

        .topnav-toggle:checked~& .hbg__in::before {
            top: 0;
            opacity: 0;
        }

        .topnav-toggle:checked~& .hbg__in::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom .1s, transform .22s;
        }

        .topnav-toggle:checked~& .hbg__in {
            transform: rotate(225deg);
            transition-delay: .12s;
        }



    }
}


.hbg__in {
    @media(max-width: 979.3px) {
        left: 13px;


        &::after,
        &::before {
            width: 34px;
            height: 3px;
        }
    }


    @media(max-width: 979.3px) {
        top: 50%;
        left: 8.5px;
        transition: transform .22s;


        &::before {
            transition: top .1s, opacity .1s;
        }

        &::before,
        &::after {
            content: '';
        }
    }


    &:before {
        top: -9px;
    }

    &:after {
        bottom: -10px;
    }
}

.hbg__in,
.hbg__in::after,
.hbg__in::before {
    @media(max-width: 979.3px) {
        width: 34px;
        height: 3px;
    }

    @media(max-width: 979.3px) {
        display: block;
        margin-top: -1.5px;
        position: absolute;
        border-radius: 3px;
        background-color: theme.$text-primary;
    }

}


.site-title {
    font-size: 2em;
    line-height: 1.2em;
    white-space: nowrap;
    margin: 0 0.5rem;
    display: none;

    .beta {
        color: theme.$dark-brown;

        &:hover {
          color: theme.$ac-li-purple;
        }
    }

    @media (max-width: 979.3px) {
        margin-left: calc(0.5rem + var(--site-header-height));
    }

    @media (min-height: 600px) {
        font-size: 2em;
        line-height: 2em;
    }


    @media (min-width: 499px) {
        display: block;
    }


    @media (min-width: 979.3px) and (min-height: 600px) {
        line-height: 2em;
        margin: 0 1rem 0 1.5rem;
    }

    a:hover {
        color: theme.$bu-sa-green;
    }
}


#topnav {

    @media(max-width: 979.3px) {
        display: flex;
        flex-flow: row wrap;
        position: fixed;
        top: var(--site-header-height);
        left: 0;
        background: theme.$white-bg2;
        transform: translateX(calc(-100% - 10px));
        transition: transform 200ms;
        overscroll-behavior: contain;
        padding-bottom: 1.2rem;
        overflow-y: auto;
        box-shadow: 2px 5px 7px rgba(0, 0, 0, .5);
        border-radius: 0 3px 0 0;
        max-width: 40%;
        z-index: 110;

       .topnav-toggle:checked~& {
          transform: translateX(0);
       }


       section {
           margin-top: 1rem;
           flex: 0 1 100%;


           a {
            padding-left: 1.2em;
            color: theme.$text-primary;
            transition: .2s;

            &.active {
                color: theme.$ac-li-purple2;
                text-decoration: underline;
            }

            &:hover {
                color: theme.$text-secondary;
            }
           }
       }
    }


    @media(max-width: 979.3px) and (min-width: 499px) {
        max-width: 30%;
    }

    @media (min-width: 979.3px) {
        display: flex;
        align-items: center;

        section {
            position: relative;
            height: 48px;
            .home {
                display: none;
            }


            a.donate {
                color: theme.$twitch;
                transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        
                &:hover, &.active, &.active:hover {
                    color: theme.$twitch;
                }
            }


            a {
                display: block;
                height: 48px;
                line-height: var(--site-header-height);
                padding: 0 0.7rem;
                border-left: 2px solid rgba(0, 0, 0, 0);
                font-weight: 400;
                color: theme.$text-primary;

            transition: .2s;
                &.active {
                    color: theme.$bu-sa-green;
                    text-decoration: underline;
                }

                &:hover {
                    color: theme.$text-secondary;
                }

                &.active:hover {
                    color: theme.$bu-sa-green;
                }
            }
        }
    }
}


.site-buttons {
    display: flex;
    align-items: center;


    .dasher a {
        padding-right: 1em;
    }
}


@media (min-width: 979.3px) {
    .hbg, .site-title-nav .fullscreen-mask, .topnav-toggle {
        display: none !important;
    }
}


.fbt {
    padding: 0.2em;
    text-transform: capitalize;
    line-height: 1.5;
    background: none;
    border: none;
    outline: none;
    color: theme.$text-primary;
    user-select: none;
    cursor: pointer;

    &:hover:not(.disabled) {
        background: theme.$ac-li-purple;
        color: theme.$text-primary;
    }

    &.disabled {
        opacity: .5;
        cursor: default;
    }
}