.navbar {
  flex: 1;
  display: flex;
  background: linear-gradient(#f8eec9, #ffe3e3);
  justify-content: space-between;
  padding: 0.5em 1em;
}

.navbar .links {
  display: flex;
  gap: 5em;
  justify-content: space-between;
}

.navbar a {
  font-size: 1.4em;
  font-weight: bold;
}

.main-wrap {
  --main-max-width: 1300px;
  display: grid;
  grid-template-areas: '. . main . .';
  grid-template-columns: 1vw 1fr minmax(auto, var(--main-max-width)) 1fr 1vw;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
}