.navbar {
  flex: 1;
  display: flex;
  background: linear-gradient(#f8eec9, #ffe3e3);
  justify-content: space-between;
  padding: 0.5em 1em;
}

.navbar .links {
  display: flex;
  gap: 5em;
  justify-content: space-between;
}

.navbar a {
  font-size: 1.4em;
  font-weight: bold;
}


.main {
  margin: 1em;
  display: flex;
  justify-content: center;
}