@use 'base_css/theme';

main.beta {
    padding: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;

    button {
        user-select: none;
        cursor: pointer;
        margin-top: 1em;
        padding: 1em;
        background: theme.$error;
        color: theme.$text-light;
        border: 1px solid theme.$text-primary;

        &:active {
            text-decoration: underline;
        }
    }
}