@use '_variables' as *;

.on-builder {
    .builder {

        position: relative;

        --gauge-gap: calc(
          8px + 9 *
            ((100vw - 320px) / 880)
        );

        --col2-uniboard-width: calc(
            min(calc(100vw - 240px - 20px), 
                calc(100vh - calc(var(--site-header-height)))));
        
        --col3-uniboard-width: calc(90vh - var(--site-header-height));


        display: grid;

        grid-template-areas:
        'board gauge replay';

        grid-template-columns: var(--col2-uniboard-width) var(--gauge-gap) minmax(240px, 400px);

        margin-bottom: 3em;

        .board-wrap {
            grid-area: board;
        }

        .board-wrap {
            aspect-ratio: 1;
        }

        .replay-wrap {
            grid-area: replay;
        }


$replay-bg: rgb(52, 50, 46);
$replay-bg2: rgb(62, 61, 55);
$replay-bg3: rgb(88, 87, 82);

$bg-g1: rgb(216, 166, 85);
$bg-g2: rgb(226, 186, 121);

$tree-bg: rgb(234, 219, 198);

$hover-bg: rgb(113, 99, 67);


        .replay-wrap {
            display: flex;
            flex-flow: column;


            .tabs-wrap {
                display: flex;
                background: linear-gradient($bg-g1, $bg-g2);

                .tab {
                    margin-top: 0.3em;
                    border-left: 1px solid $text;
                    background: $replay-bg;
                    user-select: none;
                    cursor: pointer;
                    padding: 0.2em 0.4em;
                    color: $text;
                    border-bottom: 1px solid rgb(190, 99, 65);

                    &.active,
                    &:hover {
                        color: $text-light;
                        border-bottom: 3px solid rgb(190, 99, 65);
                    }

                    &.active {
                        background: $bg-g2;
                        color: $replay-bg;
                    }

                    transition: all .1s;
                }
            }

            .replay-single {
                flex: 1;
            }

            .replay-tree {
                background: $tree-bg;
                border: 1px solid $bg-g1;
                flex: 2 1 300px;
            }

            .result-wrap {
                display: flex;
                flex-flow: column;
                align-items: center;

                background: $replay-bg;
                color: $text-light;

                .result {
                    font-size: 1.4em;
                }

                .drop {
                    color: $error;
                }
            }

            .tools-wrap {
                display: flex;
                flex-flow: column;

                button {
                    padding: 1em;
                }
            }
        }

        .engine-wrap {
            display: flex;
            justify-content: space-between;
            .skill {
                display: flex;
                align-items: center;
                gap: 0.2em;
            }

            .depth {
                    fieldset {
                        display: flex;
                        flex-flow: row;
            
                        align-items: center;
                        border: none;
            
                        .option {
                            user-select: none;
                            cursor: pointer;
                            padding: 0.2em;
            
                            display: flex;
                            align-items: center;
                            gap: 0.1em;
            
                            input,
                            label {
                                cursor: pointer;
                                display: inline;
                                vertical-align: middle;
                            }
                        }
                    }
                }
        }

        .context-menu {
            position: absolute;
            user-select: none;
            cursor: pointer;
            border-radius: 3px;

            box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);

            .title {
                color: $text;
                text-align: center;
                padding: 0.4em;
                border-bottom: 1px solid $replay-bg3;
                border-radius: 2px 2px 0 0;
                font-size: 1.1em;
                text-shadow: 0 1px 0 $replay-bg;
                background: linear-gradient(to bottom, $replay-bg, $replay-bg2)
            }

            a {
                display: flex;
                padding: 0.2em 0.6em;
                align-items: center;
                gap: 0.6em;
                color: $text;

                &:hover {
                    background: $hover-bg;
                }
            }

            background: $replay-bg;

        }
    }
}