@import '_variables';

.on-dashboard {
    .dashboard {

        min-height: 100vh;

        display: flex;
        flex-flow: column;
        align-items: center;


        .activities {
            align-self: stretch;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 1em;

            .activity {
                flex: 0 0 45%;

                padding: 0.2em;
                border-radius: 2px;
                border-top: 1px solid #222;
                border-left: 1px solid #222;
                box-shadow: 2px 2px #222;

                background: $secondary;
                color: $text;

                h3, p {
                    user-select: none;
                    cursor: pointer;
                    &:hover {
    
                        color: $text-light;
                    }
    
                    &:active {
                        text-decoration: underline;
                    }
                }

                .show_type {
                    text-transform: capitalize;
                }

            }
        }

        
    }
}