@use '_variables' as *;

@font-face {
  font-family: 'Lobster Two';
  src: url('assets/fonts/LobsterTwo-Regular.ttf');
}

@font-face {
  font-family: 'Lobster Two';
  src: url('assets/fonts/LobsterTwo-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Kantumruy';
  src: url('assets/fonts/KantumruyPro-Regular.ttf');
}


@font-face {
  font-family: 'Noto Chess';
  font-display: block;
  src: url('assets/fonts/lichess.chess.woff') format('woff');
}

@font-face {
  font-family: 'lichess';
  font-display: block;
  src: url(./assets/fonts/lichess.ttf);
}

[data-icon]::before {
    font-size: 1.2em;
    vertical-align: middle;
    font-family: 'lichess';
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    content: attr(data-icon);
    opacity: 0.9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(14px + 2*((100vw - 320px) / 880));
  min-height: 100%;
}

body {
  display: flex;

  color-scheme: light dark;
  color: $secondary;
  background: linear-gradient(#f8eec9, #ffe3e3);
}

#root {
  font-family: 'Kantumruy';
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $dark-text; 
  text-decoration: inherit;
}

a:hover {
  color: $gold;
}


h1 {
  font-family: 'Lobster Two';
  font-size: 2.1em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

#root {
  width: 100%;
}


::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-thumb {
  background: $accent-lighter;
  border-radius: 4px;
}