@use "theme";

@font-face {
  font-family: 'NotoSans';
  src: url('assets/fonts/NotoSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/Rubik-VariableFont_wght.ttf');
}


@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'RobotoMono';
  src: url('assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Noto Chess';
  font-display: block;
  src: url('assets/fonts/lichess.chess.woff') format('woff');
}

@font-face {
  font-family: 'lichess';
  font-display: block;
  src: url(./assets/fonts/lichess.ttf);
}

[data-icon]::before {
    font-size: 1.2em;
    vertical-align: middle;
    font-family: 'lichess';
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    content: attr(data-icon);
    opacity: 0.9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(14px + 2*((100vw - 320px) / 880));
  min-height: 100%;
}

body {
  display: flex;

  color-scheme: light dark;
  color: theme.$text-primary;
  background: theme.$white-bg;
}

#root {
  font-family: 'Roboto';
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: 'Rubik';
  color: theme.$text-title;
  text-decoration: inherit;
}

a:hover {
  color: theme.$ac-li-orange3;
}

a:active {
  text-decoration: underline;
}

h1 {
  font-family: 'Rubik';
  font-size: 2.1em;
  line-height: 1.1;
  font-variation-settings: "wght" 300;
  color: theme.$text-title;
}

ul {
  list-style: none;
}

#root {
  width: 100%;
}


::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-thumb {
  border-radius: 4px;
  color: theme.$ac-li-purple-2;
}