.repertoire {
    flex: 1;
    max-width: 800px;
    display: grid;
    grid-template-areas:
    'list'
    'board'
    'replay';
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


@media (min-width: 768px) {
    .repertoire {
        max-width: 800px;
        grid-template-areas:
        'list list list'
        'board board replay';
        grid-template-columns: 1fr 0.5fr minmax(0, 1.5fr);
        grid-template-rows: auto minmax(400px, 80vh)
    }
}


.repertoire .replay-wrap {
    display: flex;
    flex-direction: column;
}

.repertoire .list-wrap {
    grid-area: list;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.repertoire .board-wrap {
    grid-area: board;
}

.repertoire .replay-wrap {
    grid-area: replay;
}

.repertoire .header {
    color: black;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 0.2em;
}

.repertoire .list {
    align-self: center;
    padding-left: 1em;
    max-width: 800px;
}

.repertoire .list > div {
    padding-bottom: 1em;
}

.repertoire .title {
    min-width: 0;
    color: #6b240c;
}

.repertoire ul {
    list-style: decimal;
    padding-left: 2em;
    height: 200px;
    overflow: auto;
}

.repertoire ul li {
    padding: 0.2em;
    user-select: none;
    cursor: pointer;
}

.repertoire ul li:hover {
    background: #994d1c;
    color: black;
}

.repertoire ul li:active,
.repertoire ul li.active {
    opacity: 0.8;
    color: white;
    background: #994d1c;
}

.repertoire ul li > div,
.repertoire .list > div {

    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.repertoire .list div h3 {
    font-family: Kantumruy;
}

.repertoire ul li .progress {
    display: flex;
}

.repertoire ul li div span,
.repertoire ul li::marker {
 
    font-family: Kantumruy;
    color: #994d1c;
    font-weight: bold;
}


.repertoire .progress {
    position: relative;
    background: #f5cca0;
    height: 1.4em;
    width: 200px;
    justify-content: center;
    border-radius: 8px;
    display: flex;
}

.repertoire .progress .bar {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e48f45;
    height: 100%;
}

.repertoire .progress h3 {
    line-height: 1.3em;
    color: #2f2f2f;
    z-index: 1;
}

.repertoire .board-wrap {
    aspect-ratio: 1/1;
    max-height: 90vh;
}

.repertoire .replay-wrap .replay,
.repertoire .board-wrap {
    border: 2px solid #e48f45;
    border-radius: 8px;
    min-height: 200px;
}


.repertoire .replay-header {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.repertoire .replay-header h4 {

    font-family: Kantumruy;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.repertoire .replay-header h5 {
    padding-left: 1em;
    color: #994d1c;
}

.repertoire .replay-header .lichess a {
    color: #2e4567;
}


.replay {
    display: flex;
    flex-flow: column;
}

.repertoire .replay-wrap .replay .replay-v {
    position: relative;
    overflow-y: scroll;
}

.replay .replay-v {
    flex: 1;
    border-bottom: 1px solid black;
}