@use '_variables' as *;

.on-repertoires {
    .repertoires {


        .categories {

        display: flex;
        flex-flow: row wrap;
        gap: 2em;


        .category {
            flex: 1 1 45%;
            text-align: center;


            @media (max-width: 499px) {
                flex: 1 1 100%;
            }
        }

        h1 {
            font-family: Kantumruy;
        }

        ul {
           border-radius: 4px;
           border: 1px solid $accent;
           color: black;
           height: 200px;
           overflow: auto;
           cursor: pointer;
           user-select: none;


           li {
            padding: 1em 0;

            &.soon {
                opacity: 0.6;
            }

            a {
                font-weight: bold;

                &:hover {
                    color: $dark-text;
                }
            }

            &:hover {
                background: $accent;
            }
           }
        }
    }
    }
}