.replay-wrap .replay {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    flex: 2 1 0;
}


.replay-wrap .replay .replay-v {
    position: relative;
    overflow-y: scroll;
    flex: 1;
}


.sixth {
    flex: 1;
    max-width: 800px;
    display: grid;
    grid-template-areas:
    'howto'
    'board'
    'replay';
    justify-content: center;
}


@media (min-width: 768px) {
    .sixth {
        grid-template-areas:
        'howto howto howto'
        'board . replay'
        'under under under';

        grid-template-columns: minmax(55vmin, 90vh) 20px minmax(200px, 400px);
        grid-template-rows: fit-content(0);
    }
}

.sixth .under {
    grid-area: under;
}

.sixth .howto {
    grid-area: howto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.sixth .replay-wrap {
    grid-area: replay;
    display: flex;
    flex-direction: column;
}


.sixth .board-wrap {
    grid-area: board;
    aspect-ratio: 1/1;
}

.sixth .board-wrap {
    border: 2px solid #994d1c;
    border-radius: 8px;
    min-height: 200px;
    overflow: hidden;
    padding: 2px 0px 0 2px;
}

.sixth .replay-wrap .replay {
    border: 2px solid #e48f45;
    border-radius: 0px 0px 8px 8px;
    min-height: 200px;
}

.sixth .replay-wrap .replay .replay-v {
    background: hsla(40, 57%, 86%);
    flex: 1;
    border-bottom: 1px solid black;
}

.sixth .replay-wrap .replay .tools {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background: hsla(40, 57%, 86%);
}

.sixth .replay-wrap .replay-header {
    border-radius: 8px 8px 0px 0;
    background: linear-gradient(hsla(40, 57%, 76%), hsla(40, 57%, 70%));
    padding: 0.1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sixth .replay-wrap .replay-header .eval-title {
    padding-left: 1em;
    color: hsla(40, 57%, 96%);
    text-shadow: 1px 1px #c48f45;
}

.sixth .replay-wrap .replay .replay-v {
    background: hsla(40, 57%, 86%);
    flex: 1;
    border-bottom: 1px solid black;
}

.sixth .replay-wrap .replay .tools {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background: hsla(40, 57%, 86%);
}

.sixth .replay-wrap .replay-header {
    border-radius: 8px 8px 0px 0;
    background: linear-gradient(hsla(40, 57%, 76%), hsla(40, 57%, 70%));
    padding: 0.1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sixth .replay-wrap .replay-header .eval-title {
    color: hsla(40, 57%, 96%);
    text-shadow: 
}

.sixth .howto ul li {
    padding: 0.2em 0;
}

.sixth .howto p.underline {
    text-decoration: underline;
}