.chesstree-wrap {
    overflow-y: auto;
    overflow-x: hidden;
}

.chesstree {
    user-select: none;
    cursor: pointer;
    white-space: normal;
    padding: 0.5em 0.7em;
   font-family: "Noto Chess", Kantumruy; 
}

.chesstree .move {
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.1em;
    line-height: 1.4em;
    border-radius: 1px;
}

.chesstree .move:not(.on_path_end) .index {
    color: rgb(113, 88, 62);
}

.chesstree .move.collapsed {
    opacity: 0.7;
}

.chesstree .line span.collapsed {
    color:hsla(0, 60%, 70%, 0.8);
    font-size: 0.8em;
}

.chesstree .move.on_path,
.chesstree .move.on_path_end  {
    box-shadow: inset 0 -2px 0 0 rgb(37, 111, 202);
}

.chesstree .move.on_path_end {
    background: rgb(37, 111, 202);
    color: hsla(183, 39%, 88%, 0.8)
}

.chesstree .move.on_failed_path,
.chesstree .move.on_failed_path_start {
    font-weight: bold;
    color: hsla(0, 70%, 30%, 1);
    background: hsla(0, 60%, 70%, 0.8);
}

.chesstree .move.on_revealed_path,
.chesstree .move.on_revealed_path_start {
    color: hsla(59, 70%, 20%, 0.8);
    background: hsla(59, 70%, 75%, 1);
}



.chesstree .move.on_solved_path,
.chesstree .move.on_solved_path_start {
    color: hsla(130, 40%, 30%, 1);
    background: hsla(130, 30%, 70%, 0.8);
}

.chesstree .move.on_hidden_path,
.chesstree .move.on_hidden_path_start,
.chesstree .move.on_hidden_path:hover,
.chesstree .move.on_hidden_path_start:hover {
    color: transparent;
    background: hsla(30, 50%, 30%, 1);
}

.chesstree .move:hover {
    background: hsla(212, 67%, 54%, 0.8);
    color:hsla(183, 39%, 88%, 0.8);
    box-shadow: none;
}

.chesstree .move > .index {
    padding-right: 0.2em;
}

.chesstree .inline {
    display: inline;
    font-style: italic;
    font-size: .9em;
}

.chesstree .inline::before {
    content: '(';
}
.chesstree .inline::after {
    content: ')';
}



.chesstree .lines {
    padding-left: 0.5em;
    padding-bottom: 0.2em;
}

.chesstree .lines:before {
    content: ' ';
    border-top: 2px solid #4a4a4a;
    position: absolute;
    margin-left: -9px;
    width: 9px;
    height: 6px;
}

.chesstree .lines .line {
    border-left: 2px solid #4a4a4a;
    padding-left: 8px;
}

.chesstree .lines .line:before {
    position: absolute;
    width: 8px;
    height: 8px;
    margin-top: 0.65em;
    margin-left: -8px;
    content: "";
    border-top: 2px solid #4a4a4a;
}

.chesstree .lines .line:first-child {
    padding-top: 0.2em;
}
