@use '../../base_css/theme';

.on-openings {

    .openings-list {
        display: grid;


        grid-template-areas: 'aside content';

        grid-template-columns: max-content auto;
        grid-template-rows: min-content;

        .subnav {
            grid-area: aside;
        }

        .content {
            grid-area: content;
        }

        .subnav {

            color: theme.$text-primary;

            nav {
               display: flex;
               flex-flow: column;

               a {
                   position: relative;
                   user-select: none;
                   cursor: pointer;
                   padding: 1em 0.5em;

                   display: flex;
                   gap: 0.3em;


                   &.active::after,
                   &:hover::after {
                    transform: scale(1);
                   }

                   &:after {
                    right: -1px;
                    content: '';
                    background: theme.$ac-li-orange;
                    width: 3px;
                    position: absolute;
                    height: 98%;
                    top: 1%;
                    transition: .25s;
                    transform: scale(0);
                   }
               }
            }
        }

        .content {

            background: theme.$bu-mu-blue2;

            .tools {
                display: flex;
                padding: 1em;

                justify-content: flex-end;
                border-bottom: 2px solid theme.$ac-li-blue-2;

                button.new {
                    display: flex;
                    align-items: center;
                    padding: 0.5em;
                    gap: 0.5em;
                    text-transform: uppercase;

                    border: none;
                    background: theme.$he2;
                    color: theme.$text-light2;
                    border-radius: 8px;

                    user-select: none;
                    cursor: pointer;

                    transition: .2s;

                    &:hover {
                        background: theme.$ac-li-purple4;
                    }

                    &:active {
                        text-decoration: underline;
                    }

                    i {
                        font-size: 2em;
                    }
                }
            }

            .list {

                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(45ch, 1fr));

                .loading, .no-studies {
                    align-self: center;

                    a:hover {

                        color: theme.$text-secondary;
                    }
                }


                .study {

                    padding: 1em;
                    user-select: none;
                    cursor: pointer;
                    transition: .25s;
                    border: 1px solid theme.$ac-li-purple-2;
                    border-width: 0 1px 1px 0;

                    h3.title {
                        display: flex;
                        color: theme.$deep-blue;
                        font-weight: 400;
                        align-items: center;

                        i {
                            padding: 0 0.5em 0 0;
                            font-size: 2em;
                        }
                    }


                    &:hover {
                        background: theme.$ac-li-purple-2;
                    }

                    .section {
                        .chapters {
                            display: flex;
                            flex-flow: column;
                            .chapter {

                                display: flex;
                                gap: 0.2em;

                            }
                            }
                        }
                }
            }

           .featured, .auto {
               padding: 1em;

           }

            .no-studies {
                padding: 1em;

                a {
                    user-select: none;
                    cursor: pointer;
                }
            }

           .help {
               h2, h3 {
                   font-weight: 400;
                   padding: 0.8em 1em;
               }
               p {
                   padding: 1em;
               }

               padding-bottom: 5em;
           }
        }
    }

}