@use '../../base_css/theme';
@use '../../base_css/media';

.on-openings {
    .openings-show {
        position: relative;

        margin-bottom: 3em;
        padding-bottom: 10em;

    
        display: grid;

        row-gap: 0.5em;
        column-gap: 0.5em;

        justify-self: stretch;
    

        @include media.mq-at-least-col2 {
            --main-max-width: auto;
        }

        @include media.mq-is-col1 {
            grid-template-areas: 'board'
                                 'replay'
                                 'sections'
                                 'details'
                                 'tools';
            .replay-wrap,
            .sections-wrap {
                min-height: 200px;
            }
        }
    
        @include media.mq-at-least-col2 {
            grid-template-areas: 'board replay'
                                 'details details'
                                 'sections sections'
                                 'tools tools';
            grid-template-columns: var(--col2-uniboard-width) minmax(300px, 400px);

            justify-self: center;
        }

        @include media.mq-at-least-col3 {
                grid-template-areas: 'sections board replay'
                    'details details tools';
                grid-template-columns: minmax(300px, 400px) var(--col3-uniboard-width) minmax(300px, 400px);


                .replay-wrap,
                .sections-wrap {
                    max-height: calc(var(--col3-uniboard-width));
                }
        }

        .board-wrap {
            grid-area: board;
        }

        .replay-wrap {
            grid-area: replay;
        }
    
        .details-wrap {
            grid-area: details;
        }
    
        .sections-wrap {
            grid-area: sections;
        }
    
        .tools-wrap {
            grid-area: tools;
        }
    
        .board-wrap {
            aspect-ratio: 1;
        }

        .dialog-content.edit-section {
            background: theme.$ac-li-blue2;
        }
        .dialog-content.edit-chapter {
            background: theme.$ac-li-blue-2;
        }
        .dialog-content.edit-study {
            background: theme.$ac-li-purple;
        }
        

        .dialog-content.edit-section,
        .dialog-content.edit-chapter,
        .dialog-content.edit-study {
            padding: 1.5em 1em;
            display: flex;
            flex-flow: column;
            min-width: 500px;
            gap: 1em;
            border-radius: 6px;
            color: theme.$text-primary;

            .group {
                display: flex;
                flex-flow: column;
            }


            h2 {
                font-weight: 450;
                text-align: center;
            }

            label {
                font-weight: 400;
            }

            input {
                padding: 0.5em;
                border: 2px solid theme.$text-secondary;
                border-radius: 4px;
                color: theme.$text-primary;

                &:focus {
                    border: 2px solid theme.$ac-li-blue-2;
                }

                                    &.success:focus-visible,
                                    &.success:focus,
                                    &.success {
                    border: 2px solid theme.$success !important;
                }
            }


            select#order,
            select#orientation {
                width: 80%;
                background: theme.$text-light2;
                border: 1px solid theme.$text-secondary;
                padding: .6em 1em;
            }

            select#order {
                width: 50%;
            }

            .filler {
                flex: 1;
            }

            .section {
                display: flex;
                justify-content: space-around;
                gap: 1em;

                .group {
                    flex: 1;
                }
            }

            .group.buttons {
                display: flex;
                flex-flow: row;
                gap: 1em;

                .split {
                   flex: 1;
                }


                button {
                    display: flex;
                    padding: 0.8em;
                    align-items: center;
                    gap: 1em;
                    border: none;
                    color: theme.$text-light2;
                    user-select: none;
                    cursor: pointer;

                    &.create {
                        background: theme.$success;
                    }

                    &.delete {
                        background: theme.$error;
                    }

                    &.import {
                        background: theme.$success;
                    }

                    &:disabled,
                    &[disabled] {
                        color: theme.$text-light-2;
                        background: theme.$text-secondary;
                        opacity: .6;
                    }
                }
            }
        }

        .dialog-content.edit-section,
        .dialog-content.edit-chapter {
            min-height: 350px;
            .tabs {
                display: flex;
                .tab {
                    padding: 0.5em;
                    color: theme.$text-secondary;

                    user-select: none;
                    cursor: pointer;

                    &.active, &.hover {
                        color: theme.$ac-li-orange3;
                        border-bottom: 3px solid theme.$ac-li-orange3;
                    }
                }
            }

            .content {
                padding: 1em;
            }
        }

        .replay-wrap {
            display: flex;
            flex-flow: column;
            border-radius: 6px;
            overflow: hidden;

            .header {
                padding: 0.5em;
                border-radius: 6px 6px 0 0;
                background: theme.$he;
                color: theme.$text-light2;
            }

            .replay-tree {
                flex: 1;
                background: theme.$ac-li-orange-3;
                max-height: 100%;
            }


            .replay-jump {
                button.feature {
                    border:none;
                    padding: 1em;
                    background: theme.$ac-deep-blue;
                    color: theme.$text-light2;
                    font-size: 1em;
                    user-select: none;
                    cursor: pointer;

                    &:hover, &.active {
                        background: theme.$bu-mu-lavender;
                        color: theme.$text-primary;
                    }

                    &:active {
                        color: theme.$ac-li-purple2;
                    }
                }
            }


            .replay-tree {
                .practice-feature {


                    .tabs {
                        display: flex;
                        .tab {
                            font-weight: bold;
                            background: theme.$bu-mu-blue;
                            padding: 0.2em;
                            user-select: none;
                            cursor: pointer;

                            &:hover {
                                background: theme.$ac-li-orange-2;
                            }

                            &.feature.active {
                                color: theme.$text-light;
                                background: theme.$deep-blue;
                            }

                            &.quiz.active {
                                background: theme.$dark-brown;
                                color: theme.$text-light;
                            }

                            &.deathmatch.active {
                                background: theme.$text-primary;
                                color: theme.$text-light;
                            }

                        }
                    }

                    .practice {
                        h4 {
                           background: theme.$deep-blue;
                           color: theme.$text-light2;
                        }
                    }
                    .deathmatch {
                        h4 {
                           background: theme.$text-primary;
                           color: theme.$text-light2;
                        }
                    }
                    .quiz {
                        h4 {
                           color: theme.$text-light2;
                           background: theme.$dark-brown;
                        }
                    }

                    h4 {
                        font-weight: 400;
                        font-size: 0.95em;
                        padding: 0.3em;
                    }

                    .content {
                        background: theme.$ac-deep-blue;
                        color: theme.$text-light2;
                    .info-wrap {
                        display: flex;

                        .status {
                            flex: 2;
                        }

                        .info {
                            flex: 3;
                        }


                        .status {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .info {
                            font-size: 0.92em;
                            padding: 0.2em;
                            text-align: center;
                        }
                    }

                    .quiz-history {
                        display: flex;
                        flex-flow: row-wrap;

                        gap: 0.1em;

                        .quiz-item {
                            user-select: none;
                            cursor: pointer;
                            background: theme.$text-secondary;
                            border-radius: 6px 6px 0 0 ;
                            flex: 1;
                            text-align: center;

                            &:hover {
                                background: theme.$text-primary;
                            }
                        }
                    }

                }

                .quiz-buttons {
                    height: 48px;
                }

                    .buttons {
                        display: flex;
                        .rematch {
                            flex: 2;
                        }

                        button {
                            background: theme.$ac-li-purple-2;
                            color: theme.$text-primary;

                            padding: 0.1em 0;
                            font-size: 1.1em;
                            flex: 1;
                            border: none;
                            user-select: none;
                            cursor: pointer;
                            text-transform: uppercase;
                            transition: background .1s;
    
                        &:hover {
                            background: theme.$ac-li-purple;
                        }
                        &:active {
                            text-decoration: underline;
                        }
                        &:active i {
                            border-bottom: 1px solid theme.$text-primary;
                        }
    
                        &.white i {
                            background-image: url('../../assets/images/wK.svg');
                        }  
                        &.black i {
                            background-image: url('../../assets/images/bK.svg');
                        }  
    
    
    
                        &{
                                i {
                                    justify-self: center;
                                    display: block;
                                    width: 45px;
                                    height: 45px;
                                    background-size: 45px 45px;
                                }
                            }
                        }
                    }                
                }
            }

        }


        .context-sub-menu {
            position: absolute;
            background: theme.$ac-li-purple;
            display: flex;
            flex-flow: column;
            border-radius: 8px;
            overflow: hidden;
                
            a {
                padding: 0.4em 1em 0.4em 0.8em;
                user-select: none;
                cursor: pointer;
                display: flex;
                gap: 0.5em;
                align-items: center;

                &:hover {
                    background: theme.$ac-li-orange;
                    color: theme.$text-primary;
                }
            }
            z-index: 100;
        }


        .tools-wrap {
            .tabs {
                display: flex;
                justify-content: flex-end;

                .tab {
                    padding: 0.5em;

                    transition: .1s;

                    &.active, &:hover {
                        color: theme.$ac-li-orange3;
                        border-bottom: 3px solid theme.$ac-li-orange3;
                    }
                }
            }

            .content {
                display: flex;
                flex-flow: column;

                background: theme.$ac-li-blue2;
                border-radius: 0 0 4px 4px;
                overflow: hidden;
                min-height: 10em;

                .settings {
                    display: flex;
                    justify-content: flex-end;

                    .group {
                        padding: 1em;
                       display: flex;
                       gap: 0.5em;
                       label, input {
                           user-select: none;
                           cursor: pointer;
                       }

                       input[type='checkbox'] {
                           transform: scale(1.5);
                       }
                    }
                }

                .export {
                    display: flex;
                    justify-content: flex-end;
                    flex-flow: row wrap;

                    gap: 0.5em;
                    padding: 1em;
                    button {
                        padding: 0.6em;
                        border: none;
                        background: theme.$ac-li-orange;
                        color: theme.$text-primary;
                        border-radius: 4px;
                        user-select: none;
                        cursor: pointer;
                        display: flex;
                        gap: 0.4em;

                        &:hover {
                            background: theme.$ac-li-orange-2;
                        color: theme.$text-secondary;
                        }
                    }
                }

                .fen {
                    display: flex;
                    flex-flow: column;
                    padding: 1em;

                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.copy-input-text {
    display: flex;

    input {
        padding: 0.25em;
        color: theme.$text-primary;
    }

    span {
        background: theme.$he2;
        border-radius: 0 4px 4px 0; 

        padding: 0.2em 0.4em;
        user-select: none;
        cursor: pointer;

        &:hover {
            background: theme.$ac-li-purple2;
        }

        &.copied {
            background: theme.$ac-li-purple;
        }
    }
}

.glyph-icon {
    &::before {
        content: '⁉';
        font-size: 1.2em;
        font-style: normal;
        font-weight: bold;
    }


    &.brilliant::before {
        content: '!!';
        color: theme.$top;
    }

    &.good::before {
        content: '!';
        color: theme.$good;
    }

    &.interesting::before {
        content: '!?';
        color: theme.$interesting;
    }

    &.inaccuracy::before {
        content: '?!';
        color: theme.$inaccuracy;
    }

    &.mistake::before {
        content: '?';
        color: theme.$mistake;
    }

    &.blunder::before {
        content: '??';
        color: theme.$blunder;
    }
}