@use '../../base_css/theme';
@use '../../base_css/media';

.on-openings {
    .openings-show {

        .study {
            position: relative;

            margin-bottom: 3em;

        
            display: grid;

            row-gap: 1em;
            column-gap: 0.5em;

            justify-self: stretch;
        

            @include media.mq-is-col1 {
                grid-template-areas: 'board'
                                     'replay'
                                     'sections'
                                     'details'
                                     'tools';
            }
        
            @include media.mq-at-least-col2 {
                grid-template-areas: 'board replay'
                                     'details details'
                                     'sections sections'
                                     'tools tools';
                grid-template-columns: var(--col2-uniboard-width) minmax(240px, 400px);

                justify-self: center;
            }

            @include media.mq-at-least-col3 {
                    grid-template-areas: 'board replay sections'
                        'details details tools';
                    grid-template-columns: var(--col3-uniboard-width) minmax(240px, 400px) minmax(240px, 400px);


                    .replay-wrap,
                    .sections-wrap {
                        max-height: calc(var(--col3-uniboard-width) * 0.9);
                    }
            }

            .board-wrap {
                grid-area: board;
            }

            .replay-wrap {
                grid-area: replay;
            }
        
            .details-wrap {
                grid-area: details;
            }
        
            .sections-wrap {
                grid-area: sections;
            }
        
            .tools-wrap {
                grid-area: tools;
            }
        
            .board-wrap {
                aspect-ratio: 1;
            }

            .dialog-content.edit-section {
                background: theme.$ac-li-blue2;
            }
            .dialog-content.edit-chapter {
                background: theme.$ac-li-blue-2;
            }
            .dialog-content.edit-study {
                background: theme.$ac-li-purple;
            }
            

            .dialog-content.edit-section,
            .dialog-content.edit-chapter,
            .dialog-content.edit-study {
                padding: 1.5em 1em;
                display: flex;
                flex-flow: column;
                min-width: 500px;
                gap: 1em;
                border-radius: 6px;
                color: theme.$text-primary;

                .group {
                    display: flex;
                    flex-flow: column;
                }


                h2 {
                    font-weight: 450;
                    text-align: center;
                }

                label {
                    font-weight: 400;
                }

                input {
                    padding: 0.5em;
                    border: 2px solid theme.$text-secondary;
                    border-radius: 4px;
                    color: theme.$text-primary;

                    &:focus {
                        border: 2px solid theme.$ac-li-blue-2;
                    }
                }


                select#order {
                    width: 20%;
                    background: theme.$text-light2;
                    border: 1px solid theme.$text-secondary;
                    padding: .6em 1em;
                }


                .group.buttons {
                    display: flex;
                    flex-flow: row;

                    .split {
                       flex: 1;
                    }


                    button {
                        display: flex;
                        padding: 0.8em;
                        align-items: center;
                        gap: 1em;

                        &.delete {
                            background: theme.$error;
                            border: none;
                            color: theme.$text-light2;
                        }
                    }
                }
            }


            .replay-wrap {
                display: flex;
                flex-flow: column;

                .header {
                    padding: 0.5em;
                    border-radius: 6px 6px 0 0;
                    background: theme.$he;
                    color: theme.$text-light2;
                }

                .replay-tree {
                    flex: 1;
                    background: theme.$ac-li-orange-3;
                    max-height: 100%;
                    min-height: 100%;
                }
            }


            .context-sub-menu {
                position: absolute;
                background: theme.$ac-li-purple;
                display: flex;
                flex-flow: column;
                border-radius: 8px;
                overflow: hidden;
                    
                a {
                    padding: 0.4em 1em 0.4em 0.8em;
                    user-select: none;
                    cursor: pointer;
                    display: flex;
                    gap: 0.5em;
                    align-items: center;

                    &:hover {
                        background: theme.$ac-li-orange;
                        color: theme.$text-primary;
                    }
                }
                z-index: 100;
            }
        }
    }
}

.glyph-icon {
    &::before {
        content: '⁉';
        font-size: 1.2em;
        font-style: normal;
        font-weight: bold;
    }


    &.brilliant::before {
        content: '!!';
        color: theme.$top;
    }

    &.good::before {
        content: '!';
        color: theme.$good;
    }

    &.interesting::before {
        content: '!?';
        color: theme.$interesting;
    }

    &.inaccuracy::before {
        content: '?!';
        color: theme.$inaccuracy;
    }

    &.mistake::before {
        content: '?';
        color: theme.$mistake;
    }

    &.blunder::before {
        content: '??';
        color: theme.$blunder;
    }
}